#league-table {
  font-size: 18pt;
  background: rgb(240, 240, 240);
  padding: 50px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 49.5vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



#league-table > h3 {
  color: rgb(41, 41, 41);
  font-size: 24pt;
}

#league-table tr:nth-child(even) {
  background-color: rgb(230, 230, 230);
}

@media screen and (max-width: 768px) {
  #league-table {
    font-size: 10pt;
    width: 90vw;
    justify-content: center;
    align-items: center;
  }

  #league-table > h3 {
    font-size: 14pt;
  }

  #league-table table {
    padding: 5px;
    min-width: 85vw;
  }
  
  .table-container {
  }

}
